/* Base styles */
:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

h1,
h3 {
  font-weight: 700;
}

h4 {
  font-weight: 400;
}

p {
  line-height: 1.5;
}

.container {
  padding: 2rem 1.5rem;
}

/* header */
.header {
  text-align: center;
  margin-bottom: 2rem;
  padding: 1rem 0;
}

/* header description section*/
.header-description-section {
  margin-bottom: 2rem;
}

.description_title {
  color: var(--very-dark-magenta);
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.description_text {
  color: var(--dark-grayish-magenta);
}

/* header review */
.header-review {
}

.card-review {
  background-color: var(--light-grayish-magenta);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
}

.review-stars {
  margin-bottom: 0.5rem;
}

.review-text {
  color: var(--very-dark-magenta);
}

/* testimonials */
.testimonials {
}

.testimonial-card {
  background-color: var(--very-dark-magenta);
  margin-bottom: 1rem;
  padding: 2rem;
  border-radius: 0.6rem;
}

.testimonial_perfil {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.testimonial-image-section {
}

.testimonial-image {
  width: 60%;
  border-radius: 50%;
}

.testimonial-info {
}

.testimonial-name {
  font-size: 0.8rem;
  color: var(--white);
  margin-bottom: 0.5rem;
}

.testimonial-position {
  font-size: 0.8rem;
  color: var(--soft-pink);
}

.testimonial-text {
  font-size: 0.8rem;
  color: var(--white);
}

@media screen and (min-width: 600px) {
  body {
    display: grid;
    place-items: center;
    padding-top: 10%;
  }

  .container {
    width: 90%;
  }

  header {
    display: flex;
    align-items: center;
  }

  /* Header Description Section */
  .header-description-section,
  .header-review {
    flex-basis: 50%;
  }

  .description_title {
    width: 60%;
    font-size: 2.5rem;
    text-align: left;
  }

  .description_text {
    width: 67%;
    text-align: left;
    line-height: 1.6;
  }

  /* Header Review */
  .header-review {
    display: flex;
    flex-direction: column;
  }

  .card-review {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card-review:nth-child(1) {
    align-self: flex-start;
  }

  .card-review:nth-child(2) {
    align-self: center;
  }

  .card-review:nth-child(3) {
    align-self: flex-end;
  }

  .review-stars {
    padding-left: 1rem;
    padding-right: 1.5rem;
  }
  .review-text {
    padding-right: 2rem;
  }

  .review-stars {
    margin-bottom: 0;
  }

  .testimonials {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 1rem;
  }

  .testimonial-card:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 9;
  }

  .testimonial-card:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 2 / 10;
  }

  .testimonial-card:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 3 / 11;
  }

}
